.animation-square{
    max-width: 500px;
    height: 500px;
    border: 1px solid;
    background-color: #ffe4c4;
    animation-name: bg-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}


.animation-child{
    --size:60px;
    --percent: calc((var(--size) / 3));
    width: var(--size);
    height: var(--size);
    border: 1px solid;
    background-color: #00ffff;
    top: 0;
    left: 0;


    animation-name: movet;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    position: absolute;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}


.animation-step{
    width: 250px;
    height: 350px;
    border: 1px solid;
    position: absolute;
    background: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/sprite-horizontal.png);
    background-position: 0 0;
    background-repeat: no-repeat;

    animation-name: sprite-x;
    animation-duration: 1s;
    animation-timing-function: steps(13);
    animation-iteration-count: infinite;


}


.animation-step-2 {
    width: 180px;
    height: 220px;
    border: 1px solid;
    position: absolute;
    background: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/boy.png);
    background-position: 0 0;
    background-repeat: no-repeat;

    animation-name: run-x;
    animation-duration: 1s;
    animation-timing-function: steps(13);
    animation-iteration-count: infinite;

}


.animation-step-3 {
    width: 195px;
    height: 90px;
    border: 1px solid;
    position: absolute;
    background: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/black-cat.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    animation-name: sprite-y;
    animation-duration: 1s;
    animation-timing-function: steps(11);
    animation-iteration-count: infinite;
}


.animation-step-4 {
    width: 240px;
    height: 152px;
    border: 1px solid;
    position: absolute;
    background: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/cat-y.png);
    background-position: 0 0;
    background-repeat: no-repeat;

    animation-name: run-y;
    animation-duration: 1s;
    animation-timing-function: steps(9);
    animation-iteration-count: infinite;

}



@keyframes sprite-x {
from {
background-position: 0 0;
}

to {
    background-position: 100% 0;
}

}



@keyframes run-x {
    from {
    background-position: 0 0;
    }
    
    to {
        background-position: -2358.2px 0;
    }
    
    }




    @keyframes sprite-y {
        from {
        background-position: 0 0;
        }
        
        to {
            background-position:  0 100%;
        }
        
        }
        
        
        
   @keyframes run-y {
      from {
      background-position: 0 0;
     }
            
      to {
      background-position:  0 -1358px;
      }
     }
           
    


@keyframes movet {
   0% {
    top: var(--percent);
    left: var(--percent);
    background: #820eb4;
    transform: scale(1);
   } 

   25% {
    left: calc(100% - var(--size) - var(--percent) );
    top: var(--percent);
    transform: scale(1.3) skew(5deg, 5deg) rotate(90deg);
   }

   50% {
    left: calc(100% - var(--size) - var(--percent) );
    top: calc(100% - var(--size) - var(--percent) );
    transform: scale(1) skew(-5deg, -5deg) rotate(180deg);
   }

   75% {
    left: var(--percent);
    top: calc(100% - var(--size) - var(--percent) );
    transform: scale(1.3) skew(5deg, 5deg) rotate(270deg);
   }

   100% {
    left: var(--percent);
    top: var(--percent);
    background: #ff0000;
    transform: scale(1) skew(-5deg, -5deg) rotate(360deg);
   }

}



@keyframes bg-color {
    from {
        background-color: #ffe4c4;
    }

    to {
        background-color: #d49d10;
    }
}