.parent {
    border: 1px solid;
    display: flex;
    margin-bottom: 72px;
}


.child{
    width: 84px;
    height: 84px;
    border: 1px solid;
    border-radius: 8px;
    background: #305db0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}


.order-1 {
    order: 1;
}


.order-2 {
    order: 2;
}


.order-3 {
    order: 3;
}


.order-4 {
    order: 1;
}


.order-5 {
    order: 5;
}


.order-6 {
    order: 6;
}


.order-7 {
    order: 7;
}


.child-accent {
    background-color: #a12828;

}


.example-list {
    font-size: 24px;
    margin-bottom: 24px;
}


.example-list li {
    margin-bottom: 8px;
}


.flex-row-reverse {
    flex-direction: row-reverse;
}


.flex-wrap {
    flex-wrap: wrap;
}


.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}


.justify-end {
    justify-content: end;
}


.justify-center {
    justify-content: center;
}


.justify-evenly {
    justify-content: space-evenly;
}


.justify-between {
    justify-content: space-between;
}


.justify-around {
    justify-content: space-around;
}


.align-start {
    align-items: start;
}


.align-end {
    align-items: end;
}


.align-center {
    align-items: center;
}


.h-500 {
    height: 500px;
}


.flex-column {
    height: 900px;
    flex-direction: column;
}


.align-center .child-accent {
    align-self: flex-start;
}


.align-end .child-accent {
    align-self: flex-start;
}


