.limelight-regular {
    font-family: "Limelight";
  }
  

  .montmecarlo-regular {
    font-family: "MonteCarlo";
  }
  

  .molle-regular-italic {
    font-family: "Molle", cursive;
    font-weight: 400;
    font-style: italic;
  }


  .ff-roboto {
    font-family: "Roboto";
  }


.ff-proximanova {
    font-family: "ProximaNova";
  }
