.page-nav {
    display: flex;
    height: 100vw;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    font-size: 60px;
    background: #84315d;
}


.page-nav a {
    color: #ffe4c4de;
    text-decoration: none;
}


.page-nav a:hover {
    color: #351c4d;
}


.navigation-link {
    position: fixed;
    left: 25px;
    bottom: 25px;
    background: #a12da1;
    padding: 9px 24px;
    font-size: 18px;
    text-decoration: none;
    color: #f5f5dc;
    border-radius: 50%;
}


.navigation-link:hover {
    background-color: #2c0f45;
}