.page-space {
    background-color: #000;
}


.space {
    min-height: 100vh;
}


.space-1 {
    background: url(../img/space-1.png) center/cover no-repeat;
}


.ufo{
    offset-anchor: 0% 5.4%;
    transform: rotate(90deg);
    offset-path: path("M491.493 426.765C214.984 381.297 79.8641 762.435 491.493 774.241C903.122 786.047 973.099 448.287 1406.56 426.765C1840.02 405.243 1721.65 814.261 1406.56 774.241C1091.47 734.221 768.002 472.234 491.493 426.765Z ");
    animation: ufo 20s linear infinite ;
}


.ufo-2 {
    offset-anchor: -5% 7%;
    transform: rotate(90deg);
    offset-path: path("M1432 599.946C1432 1409.41 1144.1 310.367 960.444 310.367C819.384 310.367 488.026 1410.75 488 599.946C487.974 -210.861 740.491 895.761 953.753 895.761C1139.89 895.761 1432 -191.364 1432 599.946Z");
    animation: ufo 40s linear infinite ;
}


.ufo-3 {
    offset-anchor: 7% 7%;
    offset-rotate: 24deg;
    offset-path: path("M791.637 953.493C910.524 1009.48 1009.25 1009.48 1128.14 953.493C1407.17 822.082 512.608 370.404 791.637 238.993C910.524 183.002 1009.25 183.002 1128.14 238.993C1407.17 370.404 512.608 822.082 791.637 953.493Z");
    animation: ufo 15s linear infinite ;
}




@keyframes ufo {
    to{
        offset-distance: 100%;
    }
}