@import url('fonts.css');
@import url('variable.css');
@import url('global.css');
@import url('home.css');
@import url('box-sizing.css');
@import url('fonts-page.css');
@import url('table.css');
@import url('selectors.css');
@import url('flexbox.css');
@import url('nth-child.css');
@import url('position.css');
@import url('BEM.css');
@import url('animation.css');
@import url('space.css');
@import url('nav.css');